.datepicker {
  height: 400px;
  width: 300px;
  background-color: white;
  text-align: center;
  border: solid black 1px;
}

.datepicker_title {
  height: 20px;
  padding: 10px 0px 10px 0px;
  background-color: purple;
  color: white;
}

.datepicker_year {
  height: 20px;
  padding: 10px 0px 10px 0px;
  background-color: black;
  color: orange;
  font-size: 14px;
}

.datepicker_month {
  height: 20px;
  padding: 10px 0px 10px 0px;
  background-color: blue;
  color: white;
}

.datepicker_days {
  text-align: center;
  background-color: green;

}

.day_of_week {
  height: 20px;
  width: 38px;
  border: 1px solid black;
  float: left;
  margin: 1px;
}

.datepicker_day {
  height: 38px;
  width: 38px;
  background-color: yellow;
  border: 1px solid black;
  float: left;
  margin: 1px;
  vertical-align: middle;
}

.selected_day {
  background-color: green;
}

.blank_day {
  height: 38px;
  width: 38px;
  background-color: white;
  border: 1px solid white;
  float: left;
  margin: 1px;
  vertical-align: middle;
}

/*.datepicker_day:active {
  background-color: beige;
}*/

.day_row {
  height: 20px;
  padding: 10px 0px 10px 0px;
  background-color: green;
  color: orange;
  font-size: 14px;
}